[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
build = "*"
packaging = "*"
wheel = "*"

[dev-packages]
twine = "*"
"backports.tarfile" = "*"
typing_extensions = "*"

[requires]
python_version = "3.10"
